.formlargo{
    width: 89%;
    height: 220px;
}

.cardgrande{
    height: 180px;
}

.cima{
    margin-top: 15px;
}

.baixo{
    margin-bottom: 15px;
}

.camposgrande{
font-size: 30px;
height: 30px;
}