.cardgrande{
    height: 140px;
}

.textogrande{
    font-size: 40px;
}

.textomedio{
    font-size: 25px;
}

.iconegrande{
    font-size: 50px;
}


@media (max-width: 600px) {
.sumir {
    display: none;
}
.cardgrande{
    height: 80px;
}
.textogrande{
    font-size: 20px;
}
.textomedio{
    font-size: 10px;
}
.iconegrande{
    font-size: 30px;
}

  }