
.desencostar{
    margin-left: 6.3%;
    
}

.itenslista{
    font-size: 22px;
}

      @media (max-width: 600px) {
        .listacima{
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .itemsumir {
          display: none;
        }
        .tabelapos{
          margin-top: 40px;
        }
        .tabelamob{
            width: 460px;
            height: 250px;
        }
     
      }